Repository archihyang/Music: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, black, pylint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,svelte}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.py": [
    "black",
    "pylint"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ]
}

docs: Update README and add Claude settings
  .claude/settings.local.json
  README.md
Due: prettier --write

ci: Add GitHub Actions CI/CD workflows
  .claude/settings.local.json
  .github/workflows/ai-service-ci.yml
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/main.yml
  GITHUB_SETUP.md
Due: prettier --write

fix: Add AI service tests and fix CI/CD workflow
  .claude/settings.local.json
  .github/workflows/ai-service-ci.yml
  ai-models/pyproject.toml
  ai-models/pytest.ini
  ai-models/tests/__init__.py
  ai-models/tests/test_main.py
  ai-models/tests/test_services.py
Due: prettier --write, black, pylint

feat: Implement comprehensive authentication system
  .claude/settings.local.json
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/index.ts
  backend/src/middleware/auth.ts
  backend/src/routes/auth.routes.ts
  backend/src/routes/practice.ts
  backend/src/routes/scores.ts
  backend/src/routes/upload.ts
  backend/src/routes/youtube.ts
  backend/src/services/auth.service.ts
  backend/src/utils/AppError.ts
  package-lock.json
Due: prettier --write, eslint --fix

feat: Implement complete Score Management system
  backend/prisma/schema.prisma
  backend/src/routes/scores.ts
  backend/src/services/score.service.ts
Due: prettier --write, eslint --fix

feat: Implement YouTube transcription service and routes
  backend/package.json
  backend/src/routes/youtube.ts
  backend/src/services/youtube.service.ts
  package-lock.json
Due: prettier --write, eslint --fix

Implement practice session management system
  backend/src/routes/practice.ts
  backend/src/services/practice.service.ts
Due: prettier --write, eslint --fix

Implement Phase 2: AI Service for music transcription and style analysis
  ai-service/requirements.txt
  ai-service/src/api/__init__.py
  ai-service/src/api/analysis.py
  ai-service/src/api/health.py
  ai-service/src/api/transcription.py
  ai-service/src/config.py
  ai-service/src/main.py
  ai-service/src/services/__init__.py
  ai-service/src/services/audio_processor.py
  ai-service/src/services/style_analyzer.py
  ai-service/src/services/transcription_service.py
  ai-service/src/services/youtube_downloader.py
  ai-service/src/tasks/__init__.py
  ai-service/src/tasks/celery_app.py
  ai-service/src/tasks/transcription_tasks.py
  ai-service/src/utils/__init__.py
  ai-service/src/utils/logging.py
Due: black, pylint

Implement Phase 3: Frontend-Backend Integration
  FGenesis_Musicfrontendsrclibtypesindex.ts
  frontend/package.json
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/config.ts
  frontend/src/lib/api/websocket.ts
  frontend/src/lib/components/transcription/TranscriptionProgress.svelte
  frontend/src/lib/components/transcription/TranscriptionUploader.svelte
  frontend/src/lib/services/transcription.service.ts
  frontend/src/lib/stores/auth.store.ts
  frontend/src/lib/stores/transcription.store.ts
  frontend/src/lib/types/index.ts
  frontend/src/routes/transcribe/+page.svelte
  package-lock.json
Due: prettier --write, eslint --fix
